* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #131313;
}

:root {
  font-size: 16px;
}

.main {
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar {
  position: sticky;
  top: 0;
  background: #131313;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration:none;
  font-size: 1.3rem;
  font-weight: bolder;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style:none;
}

.navbar__item {
  height: 50px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.highlight {
  border-bottom: 5px ;
}
.navbar__links:hover {
  color: #cfcbcb;
}


@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
  }
 

  

  .navbar__toggle .bar {
    width: 25px;
    height: 2px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background: rgb(255, 255, 255);
  }

  .navbar__item {
    
    width: 100%;
    
  }

  .navbar__links {
    text-align: right;
    padding: 2rem;
    width: 100%;
    display: flex;
  }


}


#vanta-canvas {
  display:block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 10;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#vanta-canvas {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  top: 0;
}
.home__section {
  margin: auto;
  width: 70vw;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__section img{
  border-radius: 50%;
  display: block;
  width: 250px;
}
.home__section h1 {
  font-size: 400%;
  color: white;
  letter-spacing: -1px;
  margin-bottom: 5px;
  transition: 0.3s ease;
}

.home__section h1:hover {
  color: var(--main-accent);
  transform: translateX(-15px);
  letter-spacing: -1px;
  cursor: pointer;
}

.home__section p {
  color: white;
  opacity: 70%;
  font-weight: 600;
  line-height: 150%;
  margin-top: 15px;
}


.social__icons {
  width: 160px;
  font-size: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}


.icons {
  color: var(--main-accent);
  transition: 0.115s ease-in;
  width: 100px;
}
.icons:hover {
  opacity: 70%;
  transform: translateY(-6px);
}

.icons_top {
  color: white;
  transition: 0.115s ease-in;
  width: 100px;
}
.icons_top:hover {
  opacity: 70%;
  transform: translateY(-6px);
  color: var(--main-accent);
}

@media screen and (max-width: 768px) {
  .home__section img{
    width: 2 00px;
  }
  .home__section h1 {
    font-size: 30px;
  }
  .home__section p {
    font-size: 0.8rem;
  }

  .social__icons {
    font-size: 50%;
    width: 150px;
  }
  #navbar__logo {
    font-size: 90%;
  }
}

@media screen and (max-width: 400px) {
  .home__section h1 {
    font-size: 25px;
  }
  .home__section p {
    font-size: 0.8rem;
  }

  .social__icons {
    font-size: 45%;
    width: 140px;
  }
}